<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenuBarStopWatch.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>StopWatchIntents.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StopWatchKit.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>StopwatchShortcut.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1880A0C22DA0284B00282601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880A0D32DA0284C00282601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880A0DD2DA0284C00282601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880A0F42DA028DF00282601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1880A1192DA02D1F00282601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
